.jquery-share-lightbox {
  width: 325px;
  padding: 20px;
  background: #fff;
  
  font-weight: "Lucida Grande", "Helvetica Neue", Helvetica, arial, sans-serif;
  font-size: 0.75em;
  line-height: 1.3em;
  
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  
  -webkit-box-shadow: 1px 1px 40px #000;
  -moz-box-shadow: 1px 1px 40px #000;
  box-shadow: 1px 1px 40px #000;
}

.jquery-share-lightbox ul {
  margin: 0;
  padding: 0;
}

.jquery-share-lightbox li {
  float: left;
  list-style: none;
}

.jquery-share-lightbox li a {
  display: block;
  width: 100px;
  margin: 5px;
  padding: 10px;
  padding-left: 42px;
  background-repeat: no-repeat;
  text-decoration: none;
  font-weight: bold;
  color: #403e3c;
}

.jquery-share-lightbox .share-delicious-32 { background-image: url(../iconset/delicious_32.png); }
.jquery-share-lightbox .share-digg-32 { background-image: url(../iconset/digg_32.png); }
.jquery-share-lightbox .share-facebook-32 { background-image: url(../iconset/facebook_32.png); }
.jquery-share-lightbox .share-twitter-32 { background-image: url(../iconset/twitter_32.png); }
.jquery-share-lightbox .share-reddit-32 { background-image: url(../iconset/reddit_32.png); }
.jquery-share-lightbox .share-stumbleupon-32 { background-image: url(../iconset/stumbleupon_32.png); }
